.products {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 4rem; */
    height: 100vh;
    width: 80vw; 
    max-width: 1300px;
    margin: auto;
    line-height: 1.55;
   

}
.product1{
    height: 50%;
    width: 40%;
    margin: auto;
    /* padding-left: 75px; */
}
.product2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 40%;
    margin: auto;
    /* padding-right: 75px; */
}
.image{
    width: 430px;
    height: 430px;
    border-radius: .5rem;
}

.header{
    font-size: 20px;
    color: hsl(26, 100%, 55%);
    width: 60%;
}

.btnCart {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 0.6rem;
    padding: 0rem 1rem;
    height: 37px;
    width: 200px;
}

.btnCart h5{
    color: hsl(0, 0%, 100%);
    font-size: .9rem;
}

.cart_img{
    width: 24px;
}

.old_price{
    opacity: .3;
}

.disabled{
    opacity: .8;
    cursor: not-allowed;
}

.small_images{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-left: .8rem;
    width: 100%;
    overflow: hidden;
}

.small_images img{
    width: 100px;
    height: 100px;
    padding-right: .1rem;
}
/* cart page styles*/

.empty_cart{
    text-align: center;
    padding-top: 2rem;
}

.summary{
    color: hsl(26, 100%, 55%);
    text-align: center;
}

.flex_cart{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: auto;
    line-height: 1.55;
    width: 60%;
    gap: 4rem; 
} 

.flex_cart img{
    width: 250px;
    border-radius: .5rem;
}

.fa-trash{
    color: hsl(0, 0%, 100%);
}

.total{
    text-align: center;
    top: 32rem;
    left: 40%;
    font-size: 1.2rem;
    font-weight: 500;
}
@media(max-width:1100px){
    .products{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 30px;
    margin: auto;
    height: 100vh;
    } 
    .header{
        padding-bottom: 20px;
    }
    .product2{
        padding-bottom: 30px;
    } 
    .product2 p{
        font-size: 20px;
        text-align: justify;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .product1{
        padding-top: 30px;
    }
    
    
    .product1 img{
        
        width: 300px;
        height: 300px;
    }
  
    .small_images{
        display: none;
    }

}